{% extends 'BFDemoBundle::layout.withtab.html.twig' %}

{% block title "Contact form" %}

{% block content %}
    <form action="{{ path('bf_demo_contact') }}" method="POST" id="contact_form" class="form-horizontal" novalidate>
        {{ form_errors(form) }}

        {{ form_row(form.email) }}
        {{ form_row(form.message) }}

        {{ form_rest(form) }}
        <div class="form-actions">
        <input type="submit" value="Send" class="btn btn-primary" />
        </div>
    </form>
{% endblock %}

{% block code %}
    {% for name, code in code(code_data) %}
    <div>
        <fieldset>
        <legend>{{ name }}</legend>
        {{ code | raw }}
        </fieldset>
    </div>
    {% endfor %}
{% endblock code %}