{% extends 'BFDemoBundle::layout.html.twig' %}

{% block title "BusinessApp - Demos" %}

{% block content %}
    <h1 class="title">Available demos</h1>
    <ul id="demo-list">
        <li><a href="{{ path('bf_demo_contact') }}">Use a form</a></li>
        <li><a href="{{ path('bf_demo_lister_contact') }}">Use a datagrid</a></li>
        <li><a href="{{ path('bf_demo_value_list') }}">Use value list</a></li>
        <li><a href="{{ path('bf_demo_make_message') }}">Render a message</a></li>
        <li><a href="{{ path('bf_demo') }}">Retrieve domain entity</a></li>
    </ul>
{% endblock %}
